.col {
  float: left;
  box-sizing: border-box;
  padding-top: 10px;
}

/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-2-3 {
  width: 66.6666%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.333%;
}

.col-1-4 {
  width: 25%;
}

.col-3-4 {
  width: 75%;
}

.col-1-8 {
  width: 12.5%;
}
// Implement clearfix
.cf:after {
  content: '';
  display: block;
  clear: both;
}


// Collapse at breakpoint and fill full width w/ each, stack on top.
@media all and (max-width: 1000px) {
  [class*='col-'] {
    width: 100%;
  }
}
