<div class="masthead">


  <div class="language-nav">
    <ul>
      <li>
        <a href="#">
          CSS
        </a>
      </li>
      <li>
        <a href="#">
          HTML
        </a>
      </li>
      <li>
        <a href="#">
          Javascript
        </a>
      </li>
      <li>
        <a href="#">
          Ruby
        </a>
      </li>
    </ul>
  </div>

  <!-- LOGO -->
  <h2>
    <img class="logo" src="assets/images/AA_Times_Logo.png" alt="App Acadmeny Times Logo">
  </h2>

  <ul class="masthead-links">
    <li>
      Tuesday, October 18, 2016
    </li>
    <li>
      <i class="far fa-newspaper"></i>
      <a href="#">
        Today’s Paper
      </a>
    </li>
    <li>
      <i class="fas fa-video"></i>
      <a href="#">
        Video
      </a>
    </li>
    <li>
      <p>
        77°F
      </p>
    </li>
    <li>
      <p>
        AAO
        <strong>
          +100%
        </strong>
      </p>
    </li>
  </ul>

</div>
