<section id="search-modal" class="search-modal">
    <div class="search-bar">
        <input type="text" name="searchbar" placeholder="  Search...">
        <button type="submit" name="submit">GO</button>
    </div>
    <button type="button" class="close" name="close">X</button>
</section>
