
<div id="sections-sidebar" class="sections-sidebar">
  <ul class="sidebar-nav">
    <li>
      World
    </li>
    <li>
      <section class="dropdown">
        San Francisco
        <ul>
          <li>
            San Francisco
          </li>
              <li>
                Students
              </li>
              <li>
                Teaching Assistants
              </li>
              <li>
                Instructors
              </li>
              <li>
                Career Advisors
              </li>
              <li>
                Cats
              </li>
        </ul>
      </section>
    </li>
    <li>
      New York
    </li>
    <li>
      <section class="dropdown">
        Bootcamp Prep
        <ul>
          <li>
            Bootcamp Prep
          </li>
              <li>
                Students
              </li>
              <li>
                Instructors
              </li>
              <li>
                Cats
              </li>
        </ul>
      </section>
    </li>
    <li>
      Jumpstart
    </li>
    <li>
      <section class="dropdown">
        Online
        <ul>
          <li>
            Online
          </li>
              <li>
                Immersive
              </li>
              <li>
                Bootcamp Prep
              </li>
              <li>
                Cats
              </li>
        </ul>
      </section>
    </li>
    <li>
      Marketing
    </li>
    <li>
      <section class="dropdown">
        Sales
        <ul>
          <li>
            Sales
          </li>
              <li>
                Associates
              </li>
              <li>
                Analytics
              </li>
              <li>
                Cats
              </li>
        </ul>
      </section>
    </li>
    <li>
      TalentMatch
    </li>
    <li>
      <section class="dropdown">
        Alumni
        <ul>
          <li>
            Alumni
          </li>
              <li>
                Students
              </li>
              <li>
                Companies
              </li>
              <li>
                Opinions
              </li>
              <li>
                Cats
              </li>
        </ul>
      </section>
    </li>
    <li>
      All
    </li>
  </ul>
</div>
