.sections-nav-holder {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid $light-gray;
}

.sections-nav {
  display: flex;
  z-index: 1;
}

.sections-nav li {
  display: flex;
  padding: 10px;
}

.sections-nav li:hover {
  background-color: $light-gray;
  cursor: pointer;
  text-decoration: underline;
}


@media all and (max-width: 800px) {
  .main-nav {
    margin-bottom: 10px;
  }

  .sections-nav {
    flex-wrap: wrap;
  }
}
